@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 0 0% 9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 9%;
    --primary: 267 53% 49%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 86%;
    --secondary-foreground: 240 6% 10%;
    --muted: 0 0% 90%;
    --muted-foreground: 0 0% 40%;
    --accent: 0 0% 95%;
    --accent-foreground: 0 0% 9%;
    --destructive: 354 83% 48%;
    --destructive-foreground: 348 100% 98%;
    --border: 0 0% 88%;
    --input: 240 6% 90%;
    --ring: 267 53% 49%;
    --radius: 0.625rem;
    
    --sidebar-background: 0 0% 95%;
    --sidebar-foreground: 240 5% 26%;
    --sidebar-primary: 240 6% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 0 0% 90%;
    --sidebar-accent-foreground: 240 6% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 267 53% 49%;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;
    --card: 0 0% 5%;
    --card-foreground: 0 0% 99%;
    --popover: 0 0% 5%;
    --popover-foreground: 0 0% 99%;
    --primary: 267 53% 49%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 7% 18%;
    --secondary-foreground: 0 0% 93%;
    --muted: 210 3% 13%;
    --muted-foreground: 0 0% 60%;
    --accent: 180 3% 13%;
    --accent-foreground: 0 0% 100%;
    --destructive: 354 86% 55%;
    --destructive-foreground: 0 89% 7%;
    --border: 0 0% 16%;
    --input: 252 9% 11%;
    --ring: 0 0% 51%;
    
    --sidebar-background: 0 0% 8%;
    --sidebar-foreground: 240 5% 96%;
    --sidebar-primary: 267 53% 49%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 180 1% 16%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 0 0% 16%;
    --sidebar-ring: 267 73% 30%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
